main {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bouncing-box {
  height: 10rem;
  width: 10rem;
  padding: 1.5rem;
  margin: auto;
  background-color: dodgerblue;
  animation: bounce infinite 2.5s ease;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  cursor: default;
  color: dimgrey;
}

h1:hover {
  color: dodgerblue;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-130px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .bouncing-box {
    height: 5rem;
    width: 5rem;
  }
}
